@import "@/assets/scss/normalize/_variables.scss";  // variables

    .navigation {
        width: 100%;
        min-height: 218px;
        
    }

    .nav {
        min-height: 118px;
        width: 100%;
        display: flex;
        text-align: center;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        position: relative;
        
        &-logo {
            display: flex;
            width: 292px;
            height: 57px;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            text-align: center;
            cursor: pointer;
            
            
            
            &__title {
                font-size: 30px; // test font size
                cursor: pointer;
            }

        }
        
    
    }
    // .nav-shop 
    .nav-menu {
        display: flex;
        align-items: center;
        height: 33px;
        gap: 55px;
        
        justify-content: space-between;
        
        .nav-shop {
            display: flex;
            align-items: center;
            
            .nav-shop__icon {
                padding: 0 6px 0 0;
                cursor: pointer;
            }

            .nav-shop__link {
                text-decoration: none;
                color: black;
                

                font-family: $base-font-family;
                font-size: $base-font-size;
                
            }

            .arrow-icon {
                padding: 0 0 0 9px;
                cursor: pointer;
                min-width: 11px;
                height: 6px;
            }
        }
    }
    
    .nav__interaction-user:last-of-type {
        margin-left: auto;
        display: flex;
        height: 35px;
        align-items: center;
        text-align: center;
        gap: 15px;
        
        justify-content: center;
        
        
        .interaction-user__search-img {
            cursor: pointer;
        }

        

        .nav__interaction-cart {
            display: flex;
            position: relative;
            text-align: center;
            align-items: center;
            padding: 0 5px;
            height: 100%;
            width: 100%;
            text-align: center;
            justify-content: center;
            cursor: pointer;
        }

        .nav_interaction-profile {
            display: flex;
            width: 32px;
            height: 32px;;
            border: 1px;
            cursor: pointer;
        }   

    
    }


    .interaction-cart__cart-count {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        background: #000000;
        border-radius: 50%;
        color: white;
        margin: 0 -3px 0 0;
        font-size: 9px;
        width: 16px;
        height: 16px;
        cursor: pointer;
    } 
// more 
   


    .navLine {
        width: 100%;
        border: 1px solid #E0E0E0;
    }


    // input search 

    .search-box{
        width: fit-content;
        height: fit-content;
        position: relative;
      }
    .input-search{
        height: 31px;
        width: 31px;
        border-style: none;
        padding: 10px;
        font-size: 14px;
        letter-spacing: 2px;
        outline: none;
        border-radius: 25px;
        transition: all .5s ease-in-out;
        background-color: #E1CEAC;
        padding-right: 40px;
        color:rgb(63, 62, 62);
      }
      .input-search::placeholder{
        color:rgb(63, 62, 62);
        font-size: 14px;
        letter-spacing: 2px;
        font-weight: 100;
      }
      .btn-search{
        width: 50px;
        
        border-style: none;
        font-size: 20px;
        font-weight: bold;
        outline: none;
        cursor: pointer;
        border-radius: 50%;
        position: absolute;
        right: 0px;
        color:#070707 ;
        background-color:transparent;
        pointer-events: painted;  
      }
      .btn-search:focus ~ .input-search{
        width: 225px;
        border-radius: 25px;
       
       
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
      }
      .input-search:focus{
        width: 225px;
        border-radius: 25px;
        
        
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
      }
      
      // nav bottom 
      
      .bottom-nav  {
        @include horizontal-list;
        display: flex;
      
        min-height: 22px;
        padding: 13px 0 12.5px 0;
        
        .bottom-nav__list {
            display: flex;
            gap: 40px;
            
            .bottom-nav__item {
                gap: 5px;
                align-items: center;
                
                .bottom-nav__link{
                    color: black;
                    text-transform: uppercase;
                }

                .bottom-nav__arrow-img {
                    min-width: 11px;
                    height: 6px;
                    cursor: pointer;
                }
            }

            .bottom-nav__item:last-child{
                margin-right: 100px;
            }
            
        }

      }



      @import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');
*{
    box-sizing: border-box;
}
.nav-menu{
    max-width: 1305px;
    
}
nav{
    display: flex;
    justify-content: space-between;
    padding-top: 9px;
     padding-bottom: 11px;
    
}
nav li{
    list-style-type: none;
    border-right: 1px solid #FFFFFF;
    padding-top: 4px;
    padding-bottom: 7px;
}
a{
    text-decoration: none;
}
nav li a{
    font-size: 14px;
    line-height: 16px;
    font-family: 'Domine', serif;
    letter-spacing: 0.08em;
    color: white;
    padding-right: 20px;
    padding-top: 30px;
}
nav li:last-child{
    border-right: none;
}
.nav_description{
    background-color: rgba(51, 51, 51, 1);
}
.nav_description-list{
    max-width: 740px;
    margin: 0 auto;
}


.social{
    max-width: 1585px;
    margin: 0 auto;
}
.social-items{
    display: flex;
    padding: 0 8px;
    gap: 8px;
}
.social h3{
    font-family: 'Domine';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 46px;
letter-spacing: 0.06em;
text-align: center;
}
.social-text{
    position: relative;
}
.social-arrow{
    position: absolute;
    width: 110px;
    height: 2px;
    background: #0B0B0B;
    
}

.descr-nav {
    @include horizontal-list;
        
        display: flex;
        justify-content: center;
        
        background-color: #333333;
        
        padding: 16.5px 0 16.5px 0;

    .descr-nav__item{
            align-items: center;
            max-height: 19px;
        .descr-nav__vertical-link {
            width: 30.77px;
            height: 0px;
            border: 1px solid #FFFFFF;
            transform: rotate(90deg);
            
        }

        .descr-nav__item:last-child {
            border: none;
        }

        .descr-nav__link{
            color: rgb(255, 255, 255);
            font-size: $base-font-size;
            font-family: $domine-font-family;
            letter-spacing: 0.08em;
            font-weight: 400;
        } 
    }
}   

.router  {
    text-decoration: none;
}
