.header {
    height: 565px;
    background-image: url('@/components/layout/Header/images/header-bg.png');
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
}