@import "@/assets/scss/normalize/_variables.scss";  // variables


.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 0 10px;
    
}

.shop {
    margin-top: 52px;
}

.collection {
    display: flex;
    gap: 20px;
    
}



.collection__img > img{
    width: 100%;
}

.main-collection {
    position: relative;
    width: 100%;
    
    
}

.main-collection > img {
    max-width: 608px;
    width: 100%;
}

.right-collection > img {
    width: 100%;
    max-width: 660px;
}

.right-collection {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

// .border-img {
//     box-sizing: border-box;
//     position: absolute;
//     width: 534px;
//     height: 585px;
    

//     border: 1px solid #FFFFFF;
// }